<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989831340077-4g2qfg5mojb1b3l911h54cp6e8ke1jq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989831340077-4g2qfg5mojb1b3l911h54cp6e8ke1jq0</string>
	<key>API_KEY</key>
	<string>AIzaSyCWQVUgieecNUpvlom9d9dxBW3F3jCsKeE</string>
	<key>GCM_SENDER_ID</key>
	<string>989831340077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simonengel.deep-chemistry</string>
	<key>PROJECT_ID</key>
	<string>deepchemistry-c8d47</string>
	<key>STORAGE_BUCKET</key>
	<string>deepchemistry-c8d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989831340077:ios:4ddf6c5a56f4e01d8698a4</string>
</dict>
</plist>